p{
  font-family: Arial;
  font-style: italic;
}

.button-amazon{
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 7px 50px 7px 50px;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
}

.button-uber-req{
  background-color: black;
  color:white;
  padding: 12px 20px 12px 20px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

.button-uber-schedule{
  background-color: rgb(230, 230, 230);
  color:black;
  padding: 12px 20px 12px 20px;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}

.button-gaming{
  background-color: black;
  color:white;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}



/* Initial style for the button */
button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style when the button is toggled */
button.is-toggled {
  background-color: #e74c3c;
}
